@tailwind base;
@tailwind components;
@tailwind utilities;

.material-design-icon {
  height: 1.25rem;
  width: 1.25rem;
}

.material-design-icon > .material-design-icon__svg {
  height: 1.25rem;
  width: 1.25rem;
}
